[submodule "typing-practise"]
	path = typing-practise
	url = https://github.com/myarcana/typing-practise.git
[submodule "image-cropper"]
	path = image-cropper
	url = https://github.com/myarcana/image-cropper.git
[submodule "live-markdown"]
	path = live-markdown
	url = https://github.com/myarcana/live-markdown.git
[submodule "url-to-text"]
	path = url-to-text
	url = https://github.com/myarcana/url-to-text.git
[submodule "screenshot-stitcher"]
	path = screenshot-stitcher
	url = https://github.com/myarcana/screenshot-stitcher.git
